div style="text-align: center"
  |
    喜欢折腾技术，说过相声剧，演过话剧，排过电影，喜欢精致的设计<br/>
    没金钱，没车辆，没住房。 有大脑，有干劲，有希望<br/>
    我是炙热的阴影，睁着雪亮眼睛的黑精灵<br/>
    专业人生咨询，客户仅限女性<br/>
    偶尔写写代码，在GitCafe卖命<br/>
    喜欢 #Philosophy #Design #Hacking<br/>
    为了设计构建这个世界而奋斗终生<br/>
    Problem-Solver<br/>
    Designer<br/>
    Builder

  p
    span Ranmocy
    |, the Great Lizard.
    '
    span 燃魔蜥
    |，燃魔曦，燃魔兮。

  p
    a href="mailto:ranmocy@gmail.com"
    == image_tag 'email_32.png', height: '32'
    a href="//profiles.google.com/Ranmocy" style="margin-left:10px"
      == image_tag 'gplus_32.png', height: '32'
    a href="https://www.facebook.com/ranmocy" style="margin-left:10px"
      == image_tag 'facebook_32.png', height: '32'
    a href="https://twitter.com/ranmocy" style="margin-left:10px"
      == image_tag 'twitter_32.png', height: '32'
    a href="cn.linkedin.com/in/wanzhangsheng" style="margin-left:10px"
      == image_tag 'linkedin_32.png', height: '32'

  |
    性别男，爱好女。<br/>
    生活小慢，行动小懒。<br/>
    低俗不可耐，乖戾不可爱。<br/>
    成天胡言乱语，扰乱群众情绪。<br/>
    想念他时他不在，无视他时他乱来。<br/>
    天生丽质难以自弃，千金散尽还能回来。<br/>
  br
  |
    IE不保证正常显示，要是IE6请看我鄙视的目光。<br/>
    推荐使用最新版本的Chrome, Safari, Firefox来浏览。<br/>
    推荐在夜深人静时候阅读，可以静下心来。尤其网速较快。<br/>  1min登陆本站，均属网络正常，不要哭爹喊娘，奈何人品有伤。
